code/GHDoctor/GHDoctor/Service References/SearchEngineService/SearchEngineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNumberOfResultsForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfResultsForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfResultsForSearchResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfResultsForSiteSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfResultsForSiteSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfResultsForSiteSearchResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNumberOfResultsForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfResultsForSearch" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfResultsForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfResultsForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfResultsForSiteSearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfResultsForSiteSearch" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfResultsForSiteSearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfResultsForSiteSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchEngineServiceSoap">
    <wsdl:operation name="GetNumberOfResultsForSearch">
      <wsdl:input message="tns:GetNumberOfResultsForSearchSoapIn" />
      <wsdl:output message="tns:GetNumberOfResultsForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfResultsForSiteSearch">
      <wsdl:input message="tns:GetNumberOfResultsForSiteSearchSoapIn" />
      <wsdl:output message="tns:GetNumberOfResultsForSiteSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchEngineServiceSoap" type="tns:SearchEngineServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNumberOfResultsForSearch">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfResultsForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfResultsForSiteSearch">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfResultsForSiteSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchEngineServiceSoap12" type="tns:SearchEngineServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNumberOfResultsForSearch">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfResultsForSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfResultsForSiteSearch">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfResultsForSiteSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchEngineService">
    <wsdl:port name="SearchEngineServiceSoap" binding="tns:SearchEngineServiceSoap">
      <soap:address location="http://localhost/GHDoctor/WebServices/SearchEngineService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchEngineServiceSoap12" binding="tns:SearchEngineServiceSoap12">
      <soap12:address location="http://localhost/GHDoctor/WebServices/SearchEngineService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>